{{!< default}}
<main id="main">
<section class="p-outer">
    <div class="p-inner p-hero">
        <div class="p-hero-left">
        <div>
            <h1>Tervetuloa Digimarkkinointikouluun! 👋</h1>
            <p>Löydät täältä oppitunteja digitaalisesta markkinoinnista ja siihen liittyvistä työkaluista.</p>
            <p>Digimarkkinointikoulu on erittäin matalan kynnyksen oppimisympäristö digitaalisesta markkinoinnista kiinnostuneille.</p>
            <p>Onko sinulla on tarve saada asioita aikaan digissä, mutta <li> oikein tiedä mistä aloittaa</li> <li> sinulla ei ole aikaa kouluttautua</li> <li> ja markkinointipalveluiden kallis ulkoistaminen ei ole vaihtoehto?</li></p>
            <p>Sitten olet oikeassa paikassa! Digimarkkinointikoulu on tehty kiireisiä yrittäjiä varten. Löydät täältä selkokielisiä ohjevideoita, jotka ovat tehty siten, että voit seurata mukana ja tehdä toimenpiteet samalla valmiiksi.</p>
            <p>Näin maksimoidaan ajankäyttö ja oppiminen samassa.</p>
            <p>Ohjevideoissa asiat tehdään digimarkkinointitoimiston prosessien mukaisesti, joten kaikessa toiminnassa minimoidaan ajankäyttö ja maksimoidaan tuloksellisuus. Ja toki pidetään myös hauskaa, koska uuden oppiminen on aina mukavaa!</p>
        </div>
        <div class="p-hero-buttons">
            {{! Launches the Ghost membership portal }}
            <button data-portal="signup">Liity jäseneksi!</button>
            {{! Link to an about page }}
            <a href="/tietoa/">Lisätietoa &rarr;</a>
        </div>
        </div>
        <div class="p-hero-right">
          {{! Loads the your cover image as defined in Ghost admin }}
          <img src="{{img_url @site.cover_image size="l"}}" alt="Helppoa digimarkkinointia yrittäjille" />
        </div>
    </div>
</section>

{{! First section}}
    <section class="p-outer">
        <div class="p-inner">
            <h2>Digitaalisen markkinoinnin perusteet</h2>
            <div class="p-posts-grid">
                {{! Use the get helper to fetch posts }}
                {{#get "posts" filter="primary_tag:digitaalisen-markkinoinnin-perusteet" limit="6" }}
                    {{! Use the foreach helper to loop through available posts }}
                    {{#foreach posts}}
                        <article class="p-post-card">
                            {{! Use the img_url helper to bring in the post's feature image. }}
                            <img src="{{img_url feature_image size="m"}}" alt="{{feature_image_alt}}" />
                            <h3><a href="{{url}}">{{title}}</a></h3>
                        </article>
                    {{/foreach}}
                {{/get}}
            </div>
        </div>
    </section>

    {{! Second section }}
    <section class="p-outer">
        <div class="p-inner">
            <h2>Hakukonenäkyvyys</h2>
            <div class="p-posts-grid">
                {{! Use the get helper to fetch posts }}
                {{#get "posts" filter="primary_tag:hakukonenäkyvyys" limit="6" }}
                    {{! Use the foreach helper to loop through available posts }}
                    {{#foreach posts}}
                        <article class="p-post-card">
                            {{! Use the img_url helper to bring in the post's feature image. }}
                            <img src="{{img_url feature_image size="m"}}" alt="{{feature_image_alt}}" />
                            <h3><a href="{{url}}">{{title}}</a></h3>
                        </article>
                    {{/foreach}}
                {{/get}}
            </div>
        </div>
    </section>


    {{! Third section }}
    <section class="p-outer">
        <div class="p-inner">
            <h2>Digimainonta</h2>
            <div class="p-posts-grid">
                {{! Use the get helper to fetch posts }}
                {{#get "posts" filter="primary_tag:digimainonta" limit="6" }}
                    {{! Use the foreach helper to loop through available posts }}
                    {{#foreach posts}}
                        <article class="p-post-card">
                            {{! Use the img_url helper to bring in the post's feature image. }}
                            <img src="{{img_url feature_image size="m"}}" alt="{{feature_image_alt}}" />
                            <h3><a href="{{url}}">{{title}}</a></h3>
                        </article>
                    {{/foreach}}
                {{/get}}
            </div>
        </div>
    </section>

       {{! Fourth section }}
    <section class="p-outer">
        <div class="p-inner">
            <h2>Analytiikka ja seuranta</h2>
            <div class="p-posts-grid">
                {{! Use the get helper to fetch posts }}
                {{#get "posts" filter="primary_tag:analytiikka-ja-seuranta" limit="6" }}
                    {{! Use the foreach helper to loop through available posts }}
                    {{#foreach posts}}
                        <article class="p-post-card">
                            {{! Use the img_url helper to bring in the post's feature image. }}
                            <img src="{{img_url feature_image size="m"}}" alt="{{feature_image_alt}}" />
                            <h3><a href="{{url}}">{{title}}</a></h3>
                        </article>
                    {{/foreach}}
                {{/get}}
            </div>
        </div>
    </section>

</main>